display:
  new: true
  error: true
  unchanged: false
  empty-diff: true

job_defaults:
  url:
    ignore_cached: true
    ignore_connection_errors: false

report:
  text:
    details: true
    footer: false
    line_length: 40
    minimal: false

  stdout:
    enabled: true
    color: false

  discord:
    enabled: true
    separate: true
    webhook_url: "__DISCORD_WEBHOOK_URL__"
    embed: true
    colored: true
    subject: "変更検知: {jobs}"
